extends layout 

block content 
  h1.main-heading All employees in the company
  ul
    each employee in employees
      li.employee
        a.employeeName(href='/employees/' + employee.id)= employee.firstName + ' ' + employee.lastName
        a.edit(href='/employees/' + employee.id + '/edit') Edit
        hr
  
  .section
    a.group(href='/onDutyEmployees') On Duty Employees
    a.group(href='/vacationEmployees') On Vacation Employees
    a.group(href='/medicationEmployees') On Medication Employees