extends layout 

block content 
  h1.main-heading This app was designed to maintain employees
  .container
    a.group(href="/employees") All employees
    a.group(href='/onDutyEmployees') On Duty employees
    a.group(href="/add") Add an employee

  footer.index-footer
    p "This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service"