extends layout 

block content 
  h1 This app was designed to maintain employees
  p Please pay attention that newly added applicant has to be accepted before being hired
  a.create(href="#") Add an applicant

  footer.index-footer
    p This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service