@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap");

:root {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  background: linear-gradient(to right, #00d1fe, #3947d5);
  width: 70%;
  margin: 0 auto;
  min-height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  margin: 15px 0;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(163, 207, 43);
}

.header a:hover {
  color: gold;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  transition: ease-in-out 0.5s;
}

.logo:hover {
  transform: rotate(8deg);
  transform: 1.2em;
}

.logo > a {
  transition: all 1s;
}

.nav-ul {
  display: flex;
}

.nav-li {
  margin-right: 20px;
}

.main-heading {
  margin-bottom: 2.5em;
}

/***** styling index page *****/

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 10em;
  margin: 2em auto 4em;
  background-color: #5284e7;
  border-radius: 10px;
}

.link {
  margin: 1em;
  background-color: #fff;
  padding: 1em;
  color: #3947d5;
  font-weight: 800;
  box-shadow: 3px 3px rgb(82, 82, 82);
  height: 8em;
}

.link:hover {
  background-color: rgba(220, 252, 93, 0.651);
  color: #3947d5;
}

.index-footer {
  font-style: italic;
  position: absolute;
  bottom: 2em;
  color: gold;
}

/***** add and edit pages (form) *****/

.form {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: #5284e7;
  margin-bottom: 2em;
  position: relative;
}

.label {
  font-size: 1.3em;
  margin: 1.5em 0 0 1.5em;
  font-style: italic;
}

.required:after {
  content: " *";
  color: rgb(238, 23, 23);
  font-style: normal;
}

.input,
.submit,
.terminate-link {
  margin-left: 1.5em;
  background-color: #3947d5;
  outline: none;
  font-size: 1.2em;
  padding: 0.3em;
  width: 80%;
  font-style: italic;
}

.comment {
  resize: vertical;
  min-height: 10vh;
}

.submit {
  width: 20%;
  cursor: pointer;
  margin: 3em;
  padding: 10px 10px;
  border: 1px solid #000;
  box-shadow: 3px 3px #000;
}

.submit:hover {
  background-color: #fff;
  color: #3947d5;
}

.terminate-link {
  text-align: center;
  width: 30%;
  position: absolute;
  bottom: 3em;
  right: 3em;
  border: 1px solid #000;
  box-shadow: 3px 3px #000;
}

.terminate-link:hover {
  background-color: rgb(221, 144, 144);
  color: #000;
}

.success,
.error {
  margin: 1.5em 0;
  padding: 0.4em;
  color: green;
  border: 1px solid green;
  background-color: #fff;
  width: 66.5%;
}

.error {
  color: red;
  border: 1px solid red;
}

.addition {
  color: green;
  float: right;
}

/***** list of employees *****/

.employee {
  font-size: 1.3em;
  padding-bottom: 0.5em;
  width: 70%;
  margin: auto;
}

.edit {
  float: right;
}

.empty {
  text-align: center;
}

.employeeName:hover,
.edit:hover {
  color: paleturquoise;
}

.section {
  margin-top: 4em;
  display: flex;
  justify-content: space-evenly;
}

.group {
  border-bottom: 2px solid #fff;
  font-size: 1.1em;
}

.group:hover {
  border-bottom: 2px solid rgb(255, 233, 106);
  color: rgb(255, 233, 106);
}

/***** employee information *****/

.wrapper {
  margin-bottom: 1em;
}

.inline {
  display: inline;
}

.key {
  color: rgb(255, 233, 106);
}

.employee-edit {
  float: right;
  border-bottom: 1px solid rgb(255, 233, 106);
  font-size: 1.15em;
}

.employee-edit:hover {
  color: rgb(255, 233, 106);
}

.terminate {
  float: right;
  margin-right: 1em;
  border-bottom: 1px solid rgb(251, 161, 161);
  font-size: 1.15em;
}

.terminate:hover {
  color: rgb(251, 161, 161);
}

/***** terminated employees page *****/

#hire {
  margin: 0 1em;
}

#delete:hover {
  color: rgb(226, 120, 120);
}

#hire:hover {
  color: rgb(118, 243, 122);
}

#view:hover {
  color: paleturquoise;
}

/* @media screen (min-width: 900px) and (max-width: 1200px){
  body {
    font-size: 15px;
  }
} */
